*{  
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh; 
    padding: 4rem;
}
.content h1{
    text-align: center;
    margin: 0;
    color: #ffffff;
    text-transform: capitalize ;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.btn-voltar{
    width: 40px;
}
.header{
    display: flex;   
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    gap: .2rem;
}
.name{
    display: flex;
    gap: 4rem;

}
.id{
    color: black;
    opacity: .3;
    text-align: right;
}
.types{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-inline-start: 0;
    margin: 0;
}
.types li{
    color: #ffffff;
    padding: .25rem .5rem ;
    margin: .25rem 0;
    font-size: .75rem;
    border-radius: .7rem; 
    filter: brightness(1.06);
    text-align: center;
    box-shadow: rgba(11, 11, 11, 0.03) 0px 3px 5px 0px;
}
header img{
    width: 100px;
}
.description{
    background-color: #ecebeb;
    border-radius: 1rem;
    padding: .5rem ;
    width: 80vw;
    box-shadow: rgba(12, 12, 12, 0.409) 0px 7px 15px 0px;
}
.navegation{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
}
.navegation li{
    font-size: 0.7rem;
   
    color: rgb(173, 9, 9);
    padding: .2rem;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.detail{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    padding-inline-start: 0;
    padding: 0 1rem;
    margin:0;
    margin-bottom: 1rem;
    
}
.detail li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.stats{
    display:  flex;
    justify-content: space-between;
    width: 50vw;
}
.stats .value{
    width: 10vw;
}
.label{
    font-size: .85rem;
    font-weight: 300;
}
.value{
    font-weight: 500;
    font-size: .8rem;
    text-transform: capitalize;
    max-width: 70%;
}
progress{
    height: 0.5rem;
    min-width: 10vw;
    background-color: #f9f9f9;
}
.detail button{
    background-color: #dad9e0;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 0.8rem;
    transition: .3s;
}
.detail button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.moves{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding-inline-start: 0;
    font-weight: 300;
    width: 70vw;
}
.moves li{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1.5rem;
    margin: .2rem;
    padding: .2rem;
    background-color: #cfcedc;
    border-radius: .5rem;
    min-height: 1.5rem;
}

.normal {
    background-color: #A6A877;
}
.fire {
    background-color: #EE7F30;
}
.water {
    background-color: #6590EE;
} 
.grass {
    background-color: #7ad052;
} 
.electric {
    background-color: #F7D02D;
}
.ice  {
    background-color: #98D5D6;
}
.ground {
   background-color: #DFBF68;
}
.flying {
    background-color: #A990EE;
}
.poison {
    background-color: #A03FA0;
}
.fighting {
    background-color: #BF3028;
}
.psychic {
    background-color: #F85687;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #B89F44;
}
.bug {
    background-color: #A8B720;
}
.ghost{
    background-color: #6E5896; 
}
.steel {
    background-color: #B9B7CF;
}
.dragon{
    background-color: #6E39F3;
}
.fairy {
    background-color: #FEAEC7;
}


@media screen and (min-width: 810px) {
    .content{
        padding: 2rem;
    }
    .description{
        width: 70vw;
    }
    .moves{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 55vw;
    } 
    .detail{
        padding: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .description{
        width: 60vw;
    }
    .detail{
        padding: 2rem;
    }
}